<div class="card">
    @if (newLeaguesError()) {
        <div class="text-danger mt-1">
            <div style="color: red" class="alert alert-danger">{{ newLeaguesError() }}</div>
        </div>
    }
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Geselecteerde competities</p-tab>
            <p-tab value="1">Nieuwe competities</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.
                </p>
            </p-tabpanel>
            <p-tabpanel value="1">
                <div class="justify-left items-center p-1">
                    <p-autocomplete [(ngModel)]="selectedCountry" [forceSelection]="true" [suggestions]="filteredCountries"
                                    (onSelect)="onSelectCountry($event)"  (onUnselect)="onCountryUnselect()" (onClear)="onCountryUnselect()"
                                    (completeMethod)="filterCountry($event)" optionLabel="nameNL" [showClear]="true" inputStyleClass="w-56"/>
                </div>
                <div class="card">
                    <p-accordion [value]="['0']" (valueChange)="onNewLeaguesCountryOpenTab($event)">
                        @for (country of (countries() || []); track country.countryCode) {
                            <p-accordion-panel [value]="country.countryCode">
                                <p-accordion-header>
                                        <span class="flex items-center gap-2">
                                            <img [src]="country.flagUrl" [alt]="country.nameNL" style="width: 20px; vertical-align: middle;" />
                                            <span>{{ country.nameNL }}</span>
                                        </span>
                                </p-accordion-header>
                                <p-accordion-content>
                                    <p-dataview #dv [value]="newLeagues()" [emptyMessage]="loadingNewLeagues() ? 'Laden competities' : 'Geen competities gevonden'" [loading]="loadingNewLeagues()">
                                        <ng-template #list let-leagues>
                                            <div class="grid grid-cols-12 gap-4 grid-nogutter">
                                                   <div class="col-span-12" *ngFor="let league of leagues; let first = first">
                                                    <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-4" [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }">
                                                        <div class="md:w-40 relative">
                                                            <img class="block xl:block mx-auto rounded-border w-full" [src]="league.logo" [alt]="league.name" />
                                                        </div>
                                                        <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                                                            <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                                                                <div>
                                                                    <span class="font-medium text-secondary text-sm">{{ country.nameNL }}</span>
                                                                    <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">{{ league.name }}</div>
                                                                </div>
                                                                <div class="bg-surface-100 dark:bg-surface-700 p-1" style="border-radius: 30px">
                                                                    <div
                                                                        class="bg-surface-0 dark:bg-surface-900 flex items-center gap-2 justify-center py-1 px-2"
                                                                        style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                                                        <span class="text-surface-900 dark:text-surface-0 font-medium text-sm">seizoen: {{league.season}}</span>

                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div
                                                                        class="bg-surface-0 dark:bg-surface-900 flex items-center gap-2 justify-center py-1 px-2"                                    >
                                                                        {{league.start | date: 'dd/MM/yyyy'}} -  {{league.end | date: 'dd/MM/yyyy'}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="flex flex-col md:items-end gap-8">
                                                                <span class="text-xl font-semibold text-surface-900 dark:text-surface-0"></span>
                                                                <div class="flex flex-row-reverse md:flex-row gap-2">
                                                                    <span></span>
                                                                    <p-toast timeout="5000" />
                                                                    <p-button class="flex-auto md:flex-initial whitespace-nowrap" label="Selecteer" (onClick)="selectNewLeague(league)" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dataview>
                                </p-accordion-content>
                            </p-accordion-panel>
                        }
                    </p-accordion>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
